*{
    margin: 0;
    padding: 0;
    overflow: auto;
}


body{
    background-color: #f3eeea;

}
.Search_Rectangle input{
height: 8vh;
width: 70%;
background-color: #f4f8fb;
margin-top: 10vh;
border-radius: 50px;
margin-left: 8vw;
border: 1px solid black;
}



   


.Search_Rectangle button {
height: 4vh;
margin-left: 1vw;
width: 10%;
border-radius:10px;
    }


.Search_Rectangle input[type="text"]{
    font-size: 30px

    }
    
.General_Container{
    display: flex;
    flex-direction: column;
    
}


.General_Container_Title h1{
    font-size: 60px;
    margin-left: 30vw;
    margin-top: 4vh;
}


#Diaplayfood{
    display: flex;
    flex-direction: column;
}

.Food_container p{
    font-size: 10vw;
    position: fixed;

}

.Food_container img{
height: 40vh;    
margin-left: 10vw;
margin-top: 3vw ;
margin-bottom: 1vw;
}


.Food_container p{
font-size: 48px;
margin-left: 12vw;
position: relative;
margin-top: 10vw;
    }
    
.Food_container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      
      border: 1px solid black;
      margin-top: 2vh;
      height: auto;
      width: auto;
            }
.Food_container img{
    border-radius: 5px;
}

.Food_container button{
    border-radius: 5px;
    margin-left: 10vw;
    width: 20vw;
    height: 7vh;
    font-size: 50px;
    margin-bottom: 1vw;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black ;
}

.Search_Rectangle select{
    width: 13vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 4vw;
    margin-left: 20px;
    border-radius: 20px;
}